<div class="card mb-2" style="width: 18rem;">
    <img src="" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <form action="/tasks/{{this._id}}" method="post">  
            <div class="form-floating">
                <select class="form-select" name="status">
                    <option selected>Open this select menu</option>
                    <option value="todo">To do</option>
                    <option value="in_progress">In progress</option>
                    <option value="done">Done</option>
                </select>
                <label for="floatingSelect">Works with selects</label>
                </div>
            <button type="submit" class="buttonazul">Save Status</button>
        </form>
    </div>
</div>


