<div class="container"> 
    <h1> Create Room</h1>
    <form action="/rooms/create" method="post">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="room_name" placeholder="Sala">
            <label for="room_name">Nombre de la habitación</label>
        </div>

        <button class="buttonazul" type="submit">Guardar</button>
    </form>
</div>
