<div class="container">
    <h1> Add room </h1>

    <form action="/" method="post">
        <div class="form-floating mb-3">
            <input type="fullname" class="form-control" id="floatingInput" placeholder="Room name">
            <label for="floatingInput"> Room name</label>
        </div>

        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="Type of room">
            <label for="floatingInput">Type of room</label>
        </div>
        <div class="form-floating mb-3">
            <input type="phonenumber" class="form-control" id="floatingInput" placeholder="Ubication">
            <label for="floatingInput">Ubication</label>
        </div>

        <div class="form-floating mb-3">
            <input type="phonenumber" class="form-control" id="floatingInput" placeholder="Description">
            <label for="floatingInput">Description</label>
        </div>

    </form>

    <div>
        <button class="buttonazul"><a href="">Create room</a></button>
    </div>

</div>
