<div class="container"> 
    <div>
        <h1> Create task</h1>
    </div>
    
    <div>
        <div class="form-floating mb-3">
            <input type="fullname" class="form-control" id="floatingInput" placeholder="Task name">
            <label for="floatingInput"> Task name</label>
        </div>

        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="Place">
            <label for="floatingInput">Place</label>
        </div>

      <div class="form-floating mb-3">
            <input type="phonenumber" class="form-control" id="floatingInput" placeholder="Time">
            <label for="floatingInput">Time</label>
        </div>
    
    </div>

    <div>
        <button class="buttonazul"><a href="/welcome">Create task</a></button>
       
    </div>

</div>
