<div class="backgris">

    <div>
        <button class="buttonazul" href="/"> <i class="fa-solid fa-house"></i></button>
    </div>

    <div class="center">
     <h1> Contact us</h1>
    </div>

    <div class="con">
        
        <div class="marimg">
            <img src="/images/7.png"class="valeimg"/>
            <h3> Valeria Mejía </h3>
            <p> Full stack web developer.</p>
            <p> Artist: actress, model, visual arts.</p>
            </a>

            <a
                class="btn btn-primary btn-lg btn-floating"
                style="background-color:  #55acee;"
                href="https://twitter.com/val_mejiag"
                role="button"
                ><i class="fab fa-twitter"></i
            ></a>

            <a
                class="btn btn-primary btn-lg btn-floating"
                style="background-color: #ac2bac;"
                href="https://www.instagram.com/val_mejiag/" 
                role="button"
                ><i class="fab fa-instagram"></i
            ></a>

            <a
                class="btn btn-primary btn-lg btn-floating"
                style="background-color: #0082ca;"
                href="https://www.linkedin.com/in/valeriamej%C3%ADa/"
                role="button"
                ><i class="fab fa-linkedin-in"></i
            ></a>
            <a
                class="btn btn-primary btn-lg btn-floating"
                style="background-color: #333333;"
                href="https://github.com/valmejia" 
                role="button"
                ><i class="fab fa-github"></i
            ></a>
        </div>

        <div class="marimg">
            <img src="/images/8.png" class="valeimg"/>
            <h3> Horacio León </h3>
            <p> Full stack web developer.</p>
            <p>PhD in Science and Mechanical Engineering.</p>

            <a
                class="btn btn-primary btn-lg btn-floating"
                style="background-color:  #3b5998;"
                href="https:www.facebook.com/hleoonn"
                role="button"
            ><i class="fab fa-facebook-f"></i
            ></a>

            <a
                class="btn btn-primary btn-lg btn-floating"
                style="background-color: #0082ca;"
                href="https://www.linkedin.com/in/hleonn/" 
                role="button"
                ><i class="fab fa-linkedin-in"></i
            ></a>
            <a
                class="btn btn-primary btn-lg btn-floating"
                style="background-color: #333333;"
            href="https://github.com/hleonn" 
                role="button"
                ><i class="fab fa-github"></i
            ></a>
            </a>
        </div>
    </div>
</div>







