<div class="container mt-3">

    <div class="c"> 
        <button class="buttonazul mt-3"><a href="/auth/logout">Log Out</a></button>
    </div>

    <div>
        <h1> Welcome {{username}}!</h1>
        <h5> You be asigned to this task today.</h5>
    </div>