<div class="backgris">
    <div class="container">
        <div>
            <button class="buttonazul" href="/"> <i class="fa-solid fa-house"></i></button>
        </div>

        <div> 
            <button class="buttonblanco"><a href="/">Sign Out</a></button>
        </div>

        <div>
            <h1> Welcome {{name}}!</h1>
            <h5> You be asigned to this task today.</h5>
        </div>
        
        <div>
            <button class="buttonazul"><a href="/bathroom">Bath-room</a></button>
            <button class="buttonazul"><a href="/kitchen">Kitchen</a></button>
            <button class="buttonazul"><a href="/Garage">Garage</a></button>
            <button class="buttonazul"><a href="/livingroom">Living-room</a></button>
            <button class="buttonazul"><a href="/myroom"> My room</a></button>
        </div>
    </div>
    
    
</div>
