<div class=" backgris"> 
    <div class="container">
    <div>
            <button class="buttonazul" href="/"> <i class="fa-solid fa-house"></i></button>
        </div>
        <div>
        <h1> Garage task</h1>
        </div>

        <div>
            <button class="buttonazul"><a href="/addtask">Add task</a></button>
        </div>
    </div>
    
</div>