<div class="backgris"> 

  <div class="container">
    <div class="background">
      <button class="buttonazul" ><a href="/signin">Sign In</a></button>	
      <button class="buttonazul"><a href="/signup">Sign Up</a></button>
    </div>
      <h1 class="healthy"> HealthyHome</h1>
    <div class="background22 "></div>
  </div>
  
</div>





