<div class="backgris"> 

  <div class="container">

    <div>
      <button class="buttonazul" ><a href="/signin">Sign In</a></button>	
      <button class="buttonblanco"><a href="/signup">Sign Up</a></button>
    </div>

    <div class="row">

      <div class="wel col-6">
        <h1 class="healthy logo"> HealthyHome</h1>
        <h5 class="slogan">The new wave of living: Always clean!</h5>
        <p> HealthyHome helps you to monitor and improve the cleanliness of your home. </p>
      </div>

      <div class="move col-6">
        <img src="/images/iconogit.png">
      </div>

    </div>
    
  <div>
    <div>
      <h3>Reasons to download HealthyHome </h3>
    </div>
    
    <div>
      <ol>
        <li> Save money and time by communicate major or principal tasks, daily goals or general info</li>
        <li> Maximize the efficiency of the work-flow and minimize the pracastination </li>
        <li> Employe knows about their performance degree of satisfaction  </li>
        <li> Owner improve management </li>
      </ol>
      </div>
      <div class="move">
        <img src="/images/4.png">
      </div>
  </div>
  </div> 





