<div class="backgris"> 

  <div class="container">
    <div class="background">
      <button class="buttonazul" ><a href="/signin">Sign In</a></button>	
      <button class="buttonblanco"><a href="/signup">Sign Up</a></button>
    </div>
      <h1 class="healthy"> HealthyHome</h1>
    <div class="background22 "></div>
  </div>
  <section class="">

    <footer class="text-center text-white" style="background-color: #021470;">

      <div class="container p-4 pb-0">

        <section class="">
              
          <button type="button" class="btn btn-outline-light btn-rounded">
          <a href="/aboutus">About Us</a>
          </button>

          <button type="button" class="btn btn-outline-light btn-rounded">
            <a href="/contactus">Contact Us</a>
          </button>
              
        </section>
         
        </div>

          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright: HealthyHome
          </div>
      </div>

    </footer>

  </section>

</div>





