<div class="backgris"> 

  <!--<div class="container">-->
    <div class="background">
      <button class="buttonazul" ><a href="/singin">Sign In</a></button>	
      <button class="buttonblanco"><a href="/singup">Sign Up</a></button>
      <p class ="title" style="font-size: 100px">HealthyHome</p>
      <p class ="slogan" style="font-size: 18px">The new wave of living: Always clean!</p>
      <p class ="slogan" style="font-size: 18px">HealthyHome helps you to monitor and improve the cleanliness of your home</p>
      <a href="/testrooms">
      <button type="button" class="btn btn-primary btn-lg px-4 me-md-2"
      >testrooms</button>
      </a>
    </div>
  
    <div class="background22 ">
      <p class ="title2" style="font-size: 80px">Reasons to download HealthyHome </p>
      <div class="wrapper">
        <div>01  Save money and time by communicate major or principal task, daily goals or general info</div>
        <p>  </p>
        <div>02  Maximize the efficiency of the work-flow and minimize the Procrastination</div>
        <p>  </p>
        <div>03  Employee knows about their performance, and, degree of satisfaction</div>
        <p>  </p>
        <div>04  Owner improve management</div>
        <p>  </p>
      </div>
    </div>
  <!--</div>-->
  
  <section class="">

    <div>
      <button class="buttonazul" ><a href="/signin">Sign In</a></button>	
      <button class="buttonblanco"><a href="/signup">Sign Up</a></button>
    </div>

    <div class="row">

      <div class="wel col-6">
        <h1 class="healthy logo"> HealthyHome</h1>
        <h5 class="slogan">The new wave of living: Always clean!</h5>
        <p> HealthyHome helps you to monitor and improve the cleanliness of your home. </p>
      </div>

      <div class="move col-6">
        <img src="/images/iconogit.png">
      </div>

    </div>
    
  <div>
    <div>
      <h3>Reasons to download HealthyHome </h3>
    </div>
    
    <div>
      <ol>
        <li> Save money and time by communicate major or principal tasks, daily goals or general info</li>
        <li> Maximize the efficiency of the work-flow and minimize the pracastination </li>
        <li> Employe knows about their performance degree of satisfaction  </li>
        <li> Owner improve management </li>
      </ol>
      </div>
      <div class="move">
        <img src="/images/4.png">
      </div>
  </div>
  </div> 





