<div class="backgris"> 

  <!--<div class="container">-->
    <div class="background">
      <button class="buttonazul" ><a href="/singin">Sign In</a></button>	
      <button class="buttonblanco"><a href="/singup">Sign Up</a></button>
      <p class ="title" style="font-size: 100px">HealthyHome</p>
      <p class ="slogan" style="font-size: 18px">The new wave of living: Always clean!</p>
      <p class ="slogan" style="font-size: 18px">HealthyHome helps you to monitor and improve the cleanliness of your home</p>
    </div>
  
    <div class="background22 ">
      <p class ="title2" style="font-size: 80px">Reasons to download HealthyHome </p>
      <div class="wrapper">
        <div>01  Save money and time by communicate major or principal task, daily goals or general info</div>
        <p>  </p>
        <div>02  Maximize the efficiency of the work-flow and minimize the Procrastination</div>
        <p>  </p>
        <div>03  Employee knows about their performance, and, degree of satisfaction</div>
        <p>  </p>
        <div>04  Owner improve management</div>
        <p>  </p>
      </div>
    </div>
  <!--</div>-->
  <section class="">

    <footer class="text-center text-white" style="background-color: #021470;">

      <div class="container p-4 pb-0">

        <section class="">
              
          <button type="button" class="btn btn-outline-light btn-rounded">
          <a href="/aboutus">About Us</a>
          </button>

          <button type="button" class="btn btn-outline-light btn-rounded">
            <a href="/contactus">Contact Us</a>
          </button>
              
        </section>
         
        </div>

          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright: HealthyHome
          </div>
      </div>

    </footer>

  </section>

</div>