<div class="backgris"> 
  <div class="container">
     <a href="/testrooms">
      <button type="button" class="btn btn-primary btn-lg px-4 me-md-2"
      >testrooms</button>
      </a>
   

      <div class="background">
        <button class="buttonazul" ><a href="/auth/login"> Log In</a></button>	
        <button class="buttonazul"><a href="/auth/signup">Sign Up</a></button>
      </div>

      <div class="row divi">

        <div class="wel col-6">
          <h1 class="healthy logo"> HealthyHome</h1>
          <h5 class="slogan">The new wave of living: Always clean!</h5>
          <p> HealthyHome helps you to monitor and improve the cleanliness of your home. </p>
        </div>

        <div class="move col-6">
          <img src="/images/iconogit.png">
        </div>

      </div>
      
    <div class=" row divi">

      <div class="col-6">
        <div>
        <h3>Reasons to download HealthyHome </h3>
        </div>
      
        <div>
          <ol>
            <li> Save money and time by communicate major or principal tasks, daily goals or general info</li>
            <li> Maximize the efficiency of the work-flow and minimize the pracastination </li>
            <li> Employe knows about their performance degree of satisfaction  </li>
            <li> Owner improve management </li>
          </ol>
        </div>
      </div>

      <div class="move col-6">
          <img src="/images/4.png">
      </div>
      
    </div> 
     
  </div>  
    <section class="">

      <footer class="text-center text-white" style="background-color: #021470;">

        <div class="container p-4 pb-0">

          <section class="">
                
            <button type="button" class="btn btn-outline-light btn-rounded">
            <a href="/aboutus">About Us</a>
            </button>

            <button type="button" class="btn btn-outline-light btn-rounded">
              <a href="/contactus">Contact Us</a>
            </button>
                
          </section>
          
          </div>

            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
              © 2022 Copyright: HealthyHome
            </div>
        </div>

      </footer>

    </section>
  
  </div>
     




