<form action="/testroom/create" method="post">
    <div class="mb-3">
        <label for="title" class="form-label">Titulo</label>
        <input type="text" name="title" class="form-control" placeholder="Lavar los trastes">
    </div>

    <div class="mb-3">
        <label for="room_id" class="form-label">Example textarea</label>
        <textarea class="form-control" id="room_id" rows="3"></textarea>
    </div>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown button
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>
    
    <button type="submit">Guardar</button>
</form>
