<div class="container"> 
    <h1> Please send this link to asinng your employee</h1>

    <button class="buttonazulcuadrado"><a href="">Copy link</a></button>
    <button class="buttonazulcuadrado"><a href="">Send to mail</a></button>
    <button class="buttonazulcuadrado"><a href="">Send to WhatsApp</a></button>
</div>
