
<div class="backgris"> 
  <div class="container">
        <h1> Sign in</h1>

        <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
        </div> 

        <div >
            <button class="buttonazul" ><a href="/signin">Sign In</a></button>	
        </div>
    </div>
  
    
  <div> 
        <img src="/images/2.png">
    </div>
</div>
