<div class="container">
    <div>
        <h1> Create account</h1>
    </div>
    
    <div>
        <div class="form-floating mb-3">
            <input type="fullname" class="form-control" id="floatingInput" placeholder="Full Name">
            <label for="floatingInput"> Full Name</label>
        </div>

        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email</label>
        </div>

        <div class="form-floating mb-3">
            <input type="phonenumber" class="form-control" id="floatingInput" placeholder="Phone Number">
            <label for="floatingInput">Phone number</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
            <div id="passwordHelpBlock" class="form-text">
            Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
        </div>
    
    </div>

    <div>
        <button class="buttonazul"><a href="/welcome">Create account</a></button>
        <button class="buttonblanco az"><a href="/singin">Sign In</a></button>	
    </div>

</div>
