<div class="backgris">
    <div class="container">
        <!--<div>
            <button class="buttonazul" href="/"> <i class="fa-solid fa-house"></i></button>
        </div>

        <div> 
            <button class="buttonblanco"><a href="/">Sign Out</a></button>
        </div>

        <div>
            <h1> Welcome {{name}}!</h1>
            <h5> Send task for {{employeename}}</h5>
        </div>
    
        <div>-->
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text">Some messageT</p>
                </div>
            </div>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Tasks-Dishes
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">To Do</a></li>
                    <li><a class="dropdown-item" href="#">In progress</a></li>
                    <li><a class="dropdown-item" href="#">Done</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Tasks-Mop
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">To Do</a></li>
                    <li><a class="dropdown-item" href="#">In progress</a></li>
                    <li><a class="dropdown-item" href="#">Done</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Tasks-Sweep
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">To Do</a></li>
                    <li><a class="dropdown-item" href="#">In progress</a></li>
                    <li><a class="dropdown-item" href="#">Done</a></li>
                </ul>
            </div>
            <!--<button class="buttonazul"><a href="/bathroom">Bath-room</a></button>
            <button class="buttonazul"><a href="/kitchen">Kitchen</a></button>
            <button class="buttonazul"><a href="/Garage">Garage</a></button>
            <button class="buttonazul"><a href="/livingroom">Living-room</a></button>
            <button class="buttonazul"><a href="/myroom"> My room</a></button>
            <button class="buttonblanco"><a href="/addroom">Add room</a></button>-->
        </div>
    </div>
</div>


