<div class="container"> 
  <h1>Welcome {{name}}</h1>

  <div class="form-floating mb-3">
    <input type="fullname" class="form-control" id="floatingInput" placeholder="Type of housing">
    <label for="floatingInput"> Type of housing </label>
  </div>

  <div class="form-floating mb-3">
    <input type="fullname" class="form-control" id="floatingInput" placeholder="Number os rooms">
    <label for="floatingInput"> Number of rooms </label>
  </div>

  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" placeholder="Number of habitants">
    <label for="floatingInput"> Number of habitants </label>
    <div id="passwordHelpBlock" class="form-text">
      Select the number of people who live with you, later you will define if they are children.
    </div>
  </div>

  <div class="form-check form-switch form-control mb-3">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
    <label class="form-check-label" for="flexSwitchCheckDefault"> You have a kids?</label>
  </div>

  <div class="form-floating mb-3">
    <input type="fullname" class="form-control" id="floatingInput" placeholder="Number of kids">
    <label for="floatingInput"> Number of kids</label>
  </div>

  <select class="form-select mb-3" aria-label="Default select example">
    <option selected>Age</option>
    <option value="1"> 1</option>
    <option value="2"> 2 </option>
    <option value="3"> 3 </option>
    <option value="4"> 4</option>
    <option value="5"> 5 </option>
    <option value="6"> 6 </option>
    <option value="7"> 7 </option>
    <option value="8"> 8 </option>
    <option value="9"> 9 </option>
    <option value="10"> 10 </option>
    <option value="11"> 11 </option>
    <option value="12"> 12 </option>
    <option value="13"> 13 </option>
    <option value="15"> 15 </option>
    <option value="16"> 16 </option>
    <option value="17"> 17 </option>
  </select>

  <div class="form-check form-switch form-control mb-3">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
    <label class="form-check-label" for="flexSwitchCheckDefault">You have a pets?</label>
  </div>

  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" placeholder="Number of pets">
    <label for="floatingInput">Number of pets</label>
  </div>

  <div class="form-floating mb-3">
    <input type="phonenumber" class="form-control" id="floatingInput" placeholder="Specify your pet">
    <label for="floatingInput">Specify your pet</label>
  </div>
   
  <button class="buttonazul"><a href="/sendlink">Next</a></button>
</div>

