<div class="backgris"> 
    <div class="container">
        <h1> Welcome to HealthyHome {{name}}!</h1>

        <div>
            <button class="buttonazulcuadrado"><a href="/user">I'm a user</a></button>
            <button class="buttonazulcuadrado"><a href="/employee">I'm a employee</a></button>
        </div>
    </div>
</div>



