
body {
  background-color: #f4f4f4;
}

.healthy{
  color:#021470;
  font-weight: bold;
  font-size: 100px;
}
h1,
h5, 
h3, 
h4,
p {
  color:#021470;
  font-family: 'Poppins', sans-serif;
}

.letrablan{
  color:#021470;
  text-decoration: none;
}

.logo{
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}

.buttonazul{
  background-color: #021470;
  text-decoration: none;
  color: white;
  border-radius: 15px;
  padding: 10px;
  border: none;
}

.buttonazulcuadrado{
  background-color: #021470;
  text-decoration: none;
  color: white;
  margin-top: 10px; 
  margin-right: 10px; 
  border-radius: 10px;
  padding: 10px;
  border: none;
}

a{
  color: white;
}

h3{
  font-size: 50px;
}
.wrapper {
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left:2cm;
  color: #021470;
}
.valeimg{
  border-radius: 70%;
  width: 150px;
  margin: 15px;
}

.con{
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}

.backgris{
  background-color: #f4f4f4;
  background-size: cover;
}

.center{
  text-align: center;
}

.marimg{
  margin: 40px;
}

.move{
  display: flex;
  justify-content: right;
  
}

.wel{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.slogan{
  font-size: 30px;
}

.divi{
  margin-top: 70px;
  margin-bottom: 70px;
}