
body {
  background-color: #f4f4f4;
}

.healthy{
  color:#021470;
  font: bold 700 italic;
}
h1,
h5, 
h3 {
  color:#021470;
  font-family: 'Poppins', sans-serif;
}

.letrablan{
  color:#021470;
  text-decoration: none;
}
h1 {
  color: 15px;
}

.buttonazul{
  background-color: #021470;
  text-decoration: none;
  color: white;
  border-radius: 15px;
  padding: 10px;
  border: none;
}

.buttonazulcuadrado{
  background-color: #021470;
  text-decoration: none;
  color: white;
  margin-top: 10px; 
  margin-right: 10px; 
  border-radius: 10px;
  padding: 10px;
  border: none;
}

.buttonblanco{
  background-color: #efedeb;
  text-decoration: none;
  color: #021470;
  padding: 10px;
  margin-top: 10px; 
  margin-right: 10px; 
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
}

.background{
  background-image: url('/images/heal.jpeg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;

}

.background22{
  background-image:  url('/images/reasons.jpeg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
}

.valeimg{
  border-radius: 70%;
  width: 150px;
  margin: 15px;
}

.con{
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}

.backgris{
  background-color: #f4f4f4;
  background-size: cover;
}

.center{
  text-align: center;
}

.marimg{
  margin: 40px;
}

.move{
  display: flex;
  justify-content: right;
}

.wel{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  
}